body {
    background: #F9F9F9;
}

.logo-container h1 {
    font-size: 48px;
    margin: 10px 0px 0px 20px;
    min-height: 5vh;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 90vh;
}

.visual {
    flex: 1;
    position: relative;
}

#privilegeBar,
#privilegeBarOutline {
    border-radius: 20px;
    height: 0rem;
    width: 6rem;
}


#privilegeBar {
    background-color: #5F4B8B;
    border: 0.3rem solid #5F4B8B;
    position: absolute;
    left: 20%;
    bottom: 0%;
    z-index: -1;
}

#privilegeBarOutline {
    border: 0.01rem solid black;
}

/* ===== POP UP ===== */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 2px solid #C4C4C4;
    border-radius: 10px;
    z-index: 10;
    background-color: #ffffff;
    width: 500px;
    max-width: 80%;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(196, 196, 196, .75);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 25px;
    font-weight: bold;
}

/* .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
} */

.modal-body {
    padding: 10px 15px;
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255,230,226, 0.5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* ===== QUIZ ===== */

.quiz-section {
    flex: 2;
}

#question-number {
    font-size: 64px;
}

#question {
    font-size: 56px;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.btn {
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    font-size: 24px;
}

.btn-grid .btn{
    background: #FFFFFF;
    padding: 20px;
    margin: 20px;
    margin-bottom: 10px;
}

.btn-grid .btn:focus{
    background: rgba(230, 154, 141, 0.5);
}



/* ===== Start Screen ===== */

#start-screen {
    margin: 20px;
}

#start-screen h1{
    font-size: 36px;
    line-height: 50px;
    font-weight: lighter;
    text-align: center;
}

#start-screen h3{
    font-size: 28px;
    margin-top: 80px;
    line-height: 50px;
    font-weight: lighter;
}


.controls {
    display: flex;
}

.next-btn, 
.results-btn,
.start-btn {
    position: relative;
    padding: 10px 30px;
    margin: 20px;
    background: #E69A8D;
    color: #FFFFFF;
    flex: 1;
}

.next-btn:hover, 
.results-btn:hover,
.start-btn:hover  {
    cursor: pointer;
    box-shadow: 0 6.4px 22.4px 0 rgba(230, 154, 141, 0.5);
    transform: translateY(-1.6px);
    transition: transform 150ms;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.logo-container a {
    color: #000000;
}





/* ===== Graphics ===== */
.top-object {
    opacity: 20%;
}


.btm-object {
    z-index: -2;
}

.hide {
    display: none;
}


/* iPhone 6/7/8 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .logo-container h1 {
        font-size: 24px;
    }

    #start-screen {
        margin: 20px;
        text-align: end;
    }
    
    #start-screen h1{
        display: none;
    }
    
    #start-screen h3{
        font-size: 16px;
        margin-top: 20px;
        line-height: 25px;
    }

    #privilegeBar {
        left: 0%;
        bottom: 10%;
    }
    

    /* ===== QUIZ ===== */

    .quiz-section {
        flex: 2;
    }

    #question-number,
    #question {
        text-align: end;
    }

    #question-number {
        font-size: 20px;
    }

    #question {
        font-size: 20px;
    }

    .btn-grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 10px;
    }

    .btn {
        border: 2px solid #C4C4C4;
        border-radius: 5px;
        font-size: 18px;
    }

    .btn-grid .btn{
        background: #FFFFFF;
        padding: 5px 5px;
        margin: 10px 0px;
    }

    .modal-header .title {
        font-size: 20px;
    }

    .modal-body {
        font-size: 16px;
        line-height: 30px;
    }
        
    .last-btn, 
    .next-btn, 
    .results-btn,
    .start-btn {
    padding: 10px 10px;
    margin: 20px;
    }

    .btn {
        font-size: 16px;
    }

    .top-object {
        height: 40%;
        opacity: 20%;
        z-index: -2;
    }

    .btm-object {
        display: none;
    }
}
