* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}


.landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.landing-content h1 {
    font-size: 64px;
}

.landing-content p {
    font-size: 36px;
    margin-top: 25px;
}

.cta {
    background: #E69A8D;
    margin-top: 50px;
    padding: 20px 35px 20px 35px;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 2px;
}

.cta:hover {
    cursor: pointer;
    box-shadow: 0 6.4px 22.4px 0 rgba(230, 154, 141, 0.5);
    transform: translateY(-1.6px);
    transition: transform 150ms;
}

.about {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
    letter-spacing: 10px;
    color: #E69A8D;
    cursor: pointer;
}

.top-object {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 50%;
    z-index: -1;
}

.btm-object {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 60%;
    z-index: -1;
}


/* iPhone 6/7/8 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    .landing-content {
        top: 50%;
        left: 50;
        transform: translate(-50%, -50%);
    }

    .landing-content h1 {
        font-size: 34px;
    }

    .landing-content p {
        font-size: 24px;
    }

    .cta {
        padding: 15px 25px;
    }

    .cta a {
        font-size: 16px;
    }

    .top-object {
        height: 40%;
        opacity: 20%;
    }
    .btm-object {
        bottom: 0%;
        width: 100%;
        opacity: 30%;
    }
}
